body {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
}

@media (max-width:397px) {
  h1 {
    font-size: 24px;
  }
}

.header {
  display: flex;
  height: 360px;
  flex-direction: column;
  align-items: center;
}

.background-img {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  opacity: 0.5;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.logo-img {
  position: absolute;
  width: 700px;
  margin-top: 6.5em;
  max-width: 90%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  position: relative;
  display: flex;
  height: 100px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #035a8f;
}

h1 {
  color: white;
  text-align: center;
  max-width: 90%;
}

p {
  display: block;
  font-size: 20px;
}

a {
  text-decoration: none;
}

button {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  height: 60px;
  width: 400px;
  max-width: 90vw;
  border: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

#patient {
  background-color: #035a8f;
}

#doctor {
  background-color: #c2322f;
}

#patient:hover {
  background-color: #023d63;
}

#doctor:hover {
  background-color: #a12b2c;
}