.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.box {
  width: 835px;
  height: 313px;
}

.box .group {
  position: relative;
  width: 835px;
  height: 313px;
}

.box .overlap {
  width: 839px;
  position: relative;
  height: 313px;
}

.box .overlap-group-wrapper {
  position: absolute;
  width: 839px;
  height: 313px;
  top: 0;
  left: 0;
}

.box .overlap-group {
  width: 835px;
  background-color: #fbfbfb;
  position: relative;
  height: 313px;
}

.box .border {
  position: absolute;
  width: 774px;
  height: 255px;
  top: 33px;
  left: 32px;
  border: 1px solid;
  border-color: #c92b2b;
}

.box .panel {
  position: absolute;
  width: 269px;
  height: 56px;
  top: 53px;
  left: 52px;
  background-color: #035a8f;
}

.box .div {
  position: absolute;
  width: 270px;
  height: 56px;
  top: 53px;
  left: 516px;
  background-color: #035a8f;
}

.box .logo {
  position: absolute;
  width: 202px;
  height: 65px;
  top: 49px;
  left: 316px;
}

.box .there-are-currently {
  position: absolute;
  width: 683px;
  top: 196px;
  left: 76px;
  font-family: "Inria Serif-Light", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.box .text-wrapper {
  font-weight: 300;
}

.box .span {
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
}

.box .text-wrapper-2 {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ff0000;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.box .CAN-NOT-FIT-INTO {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ff0000;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.box .frame-wrapper {
  position: absolute;
  width: 37px;
  height: 25px;
  top: 63px;
  left: 725px;
}

.box .frame {
  position: relative;
  height: 25px;
  background-color: #ffffff;
}

.box .img {
  position: absolute;
  width: 26px;
  height: 25px;
  top: 5px;
  left: 6px;
}
