* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6, p, span, div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.header {
  background-color: #035a8f;
  color: white;
  padding: 10px;
  font-size: 24px;
  text-align: center;
}

.title-bar {
  background: white;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
  justify-content: space-between;
}

.title-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title-bar img {
  height: 60px;
}

.title-bar h1 {
  font-weight: bold;
  color: #035a8f;
  font-size: 32px;
}

.back-button {
  background: none;
  border: none;
  color: #035a8f;
  font-size: 16px;
  cursor: pointer;
}

.main {
  display: flex;
  height: calc(100vh - 124px);
}

.form-section {
  width: 30%;
  background: #f0f4f8;
  overflow-y: auto;
}

.form-container {
  background: #ffffff;
  margin: 20px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #edf4fa;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-section button {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  background-color: #035a8f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.log-section {
  width: 70%;
  background: #edf4fa;
  display: flex;
  flex-direction: column;
}

.log-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #035a8f;
  background: white;
}

.log-table-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background: #035a8f;
  font-weight: bold;
  color: white;
  padding: 10px;
  text-align: left;
}

table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

table tbody tr:nth-child(even) {
  background-color: #e6f0fa;
}

